<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="../static/add.css" th:href="@{/add.css}">
<title>Insert title here</title>
</head>
<body>
	<a href="/edit" id="bc-btn">&lt; 戻る</a>
	<h1 class="title">新規登録</h1>
	<p class="title">メンバー情報を登録してください</p>
	<div class="form-container">
	<form method="post" action="/add">
	    <div>
	        <label class="form-label">名前:</label>
	        <input type="text" name="name" value="" required>
	    </div>
	    <div>
	        <label class="form-label">年齢:</label>
	        <input type="number" name="age">
	    </div>
	    <div>
	        <label class="form-label">部署:</label>
	        <select class="dropbtn" name="department" required>
	            <option value="ITソリューション事業部">ITソリューション事業部</option>
	            <option value="営業部">営業部</option>
	            <option value="総合職">総合職</option>
	        </select>
	    </div>
	    <div>
	        <label class="form-label">役職:</label>
	        <select class="dropbtn" name="post" required>
	            <option value="開発エンジニア">開発エンジニア</option>
	            <option value="デザイナー">デザイナー</option>
	            <option value="営業">営業</option>
	        </select>
	    </div>
	    <div>
	        <input type="submit" value="作成">
	    </div>
	</form>
	</div>
</body>
</html>